In [28]:
# Dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
import requests
import pandas as pd
import time
import pprint

In [2]:
#Create executable path
executable_path = {"executable_path": 'chromedriver.exe'}
browser = Browser("chrome", **executable_path, headless=False)

## News about Mars

In [3]:
# Connect to site
url_news = "https://mars.nasa.gov/news/"
browser.visit(url_news)

#Create delay for load time
time.sleep(5)

html = browser.html
soup = bs(html, "html.parser")

In [ ]:
print(soup.prettify())

In [4]:
# Get the News Title
news = soup.find('div', class_= 'content_title')
news_title = news.find('a').text.strip()
news_title

"Nine Finalists Chosen in NASA's Mars 2020 Rover Naming Contest"

In [5]:
news_p = soup.find('div', class_= 'rollover_description_inner').text.strip()
news_p

"Nine finalists have been chosen in the essay contest for K-12 students across U.S. to name NASA's next Mars rover. Now you can help by voting for your favorite."

## Mars space image

In [6]:
url_image = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

In [7]:
#Visit image website
browser.visit(url_image)

#Create a Delay for load time
time.sleep(5)

html = browser.html
soup = bs(html, "html.parser")

In [8]:
# Get featured image
relative_image_path = soup.find('footer').find('a').attrs['data-fancybox-href']
feature_img = "https://www.jpl.nasa.gov" + relative_image_path
feature_img

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19177_ip.jpg'

## Mars facts table

In [9]:
# Pandas for space facts table
url_table = 'https://space-facts.com/mars/'

In [10]:
#Visit image website
browser.visit(url_table)
time.sleep(5)
html = browser.html
soup = bs(html, "html.parser")

In [11]:
# Read in tables
facts_tables = pd.read_html(url_table)
facts_tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [12]:
# Find first table and label columns
df = facts_tables[0]
df.columns = ['Description', 'Value']
df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [13]:
# Push table to html 
mars_facts = df.to_html(index=False)
print(mars_facts)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Description</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

## Mars weather tweet

In [14]:
url_twitter = "https://twitter.com/marswxreport?lang=en"

In [15]:
#Visit image website
browser.visit(url_twitter)

#Create a Delay for load time
time.sleep(5)

html = browser.html
soup = bs(html, "html.parser")

In [ ]:
print(soup.prettify())

In [16]:
weather_tweet = soup.find('div',class_="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x \
r-bcqeeo r-bnwqim r-qvutc0").find('span').text.replace('\n', ' ')

# weather_tweet = soup.find('div',class_='js-tweet-text-container').find('p').text.replace('\n', ' ')
weather_tweet

'InSight sol 411 (2020-01-22) low -96.4ºC (-141.4ºF) high -16.7ºC (1.9ºF) winds from the S at 5.6 m/s (12.6 mph) gusting to 22.7 m/s (50.8 mph) pressure at 6.30 hPa'

In [ ]:
#     flag = False
#     while flag == False:
#         try:
#             url_twitter = "https://twitter.com/marswxreport?lang=en"
#             browser.visit(url_twitter)
#             time.sleep(5)
#             html = browser.html
#             soup = bs(html,'html.parser')
#             weather_tweet = soup.find('div',class_="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x \
#             r-bcqeeo r-bnwqim r-qvutc0").find('span').text.replace('\n', ' ')
#             flag = True
            
#             if(flag == False):
#                 try:
            
#                     url_twitter = "https://twitter.com/marswxreport?lang=en"
#                     browser.visit(url_twitter)
#                     time.sleep(5)
#                     html = browser.html
#                     soup = bs(html,'html.parser')
#                     weather_tweet = soup.find('p',class_='tweet-text').text.replace('\n', ' ')
#                     flag = True
#                 except:
#                     print('Wrong twitter version trying again')
#                     flag = False
    flag = False
    while flag == False:
        try:
            url_twitter = "https://twitter.com/marswxreport?lang=en"
            browser.visit(url_twitter)
            time.sleep(5)
            html = browser.html
            soup = bs(html,'html.parser')
            weather_tweet = soup.find('div',class_="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0").find('span').text.replace('\n', ' ')
            flag = True
        except:
            print('Wrong twitter version trying again')
            flag = False
            weather_tweet = soup.find('p',class_='tweet-text').text.replace('\n', ' ')

## Mars hemispheres

In [17]:
url_hems = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

In [18]:
browser.visit(url_hems)

time.sleep(5)

html = browser.html
soup = bs(html, "html.parser")

In [19]:
#Create variable for list of dictionaries.
hem_img_title = []

# Variable for attributes on initial page
hemispheres = soup.find("div", class_="result-list").find_all("div", class_="item")

# Loop through attributes to find each title and image
for hemisphere in hemispheres:
    title = hemisphere.find("h3").text
# Drop "Enhanced" from each scraped title
    title = title.replace("Enhanced", "")
# Get link for full image page
    partial_link = hemisphere.find("a")["href"]
    img_link = "https://astrogeology.usgs.gov/" + partial_link    
# Visit page with full image and scrape
    browser.visit(img_link)
    soup = bs(browser.html, "html.parser")
    img_url = soup.find("div", class_="downloads").find("a")["href"]
# Append dictionaries to list
    hem_img_title.append({"title": title, "img_url": img_url})
    
print(hem_img_title)

[{'title': 'Cerberus Hemisphere ', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere ', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere ', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere ', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [32]:
#Store data in dictionary

mars_info = {
        "news_title": news_title,
        "news_p": news_p,
        "feature_img": feature_img,
        "mars_facts": mars_facts,
        "weather_tweet": weather_tweet,
        "hemispheres": hem_img_title
    }
    
print(mars_info)

{'news_title': "Nine Finalists Chosen in NASA's Mars 2020 Rover Naming Contest", 'news_p': "Nine finalists have been chosen in the essay contest for K-12 students across U.S. to name NASA's next Mars rover. Now you can help by voting for your favorite.", 'feature_img': 'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19177_ip.jpg', 'mars_facts': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>Description</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>', 'weather_tweet': 'InSight sol 411 (2020-01-22) low -96.4ºC (-141.4ºF) high -16.7ºC (1.9ºF) winds from the S at 5.6 m/s (12.6 mph) gusting to 22.7 m/s (50.8 mph) pressure at 6.30 hPa', 'hemispheres': [{'title': 'Cerberus Hemisphere ', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere ', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere ', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere ', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]}